:root {
  --primary-color: #fce82f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #000;
  color: #fff;
}

.navbar {
  padding: 30px 0;
}

.nav-link {
  font-weight: 600;
  font-size: 20px;
  margin-left: 50px;
  color: #fff;
}

.hero-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 43.54px;
}

.hero-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin: 25px 0;
}

.hero-btn {
  border: none;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 20px 55px;
  font-size: 20px;
  font-weight: 700;
  width: 270px;
}

.col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-box {
  position: relative;
}

.blob {
  position: absolute;
}

.hero-icons {
  margin-top: 28px;
}

.hero-icon {
  margin-right: 20px;
}

.blob {
  z-index: -1;
}

.bg {
  position: absolute;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  width: 500px;
  left: 115px;
  top: -50px;
  transform: rotate(111deg);
  height: 500px;
}

.hero {
  padding-top: 100px;
}

.about {
  padding: 200px 0 100px 0;
}

.resume,
.portfolio {
  padding-bottom: 100px;
}

.about-header-title {
  text-align: center;
  margin-bottom: 50px;
}

.about-image {
  border-radius: 10px;
  background-image: url(./images/cd.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.about-row {
  height: 461px;
}

.about-header {
  font-weight: 600px;
  font-size: 20px;
  line-height: 24px;
}

.about-text {
  font-weight: 400px;
  font-size: 18px;
  line-height: 27px;
  margin-top: 25px;
  margin-bottom: 37px;
}

.about-text-box {
  padding-left: 50px;
}

.lb {
  border-left: 5px solid var(--primary-color);
  padding-left: 33.5px;
}

.lb-extreme {
  padding-left: 500px;
}

.job-year {
  font-size: 30px;
  line-height: 36.57px;
  font-weight: 700;
}

.job-place {
  font-weight: 600;
  font-size: 22px;
  line-height: 26.82px;
}

.job-desc {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
}

.categories {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.category {
  font-size: 20px;
  line-height: 24.38px;
  font-weight: 500;
  margin: 0 30px;
  cursor: pointer;
}

.active-category {
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  padding: 15px 30px;
}

.portfolio-box {
  filter: drop-shadow(1px 6px 10px rgba(0, 0, 0, 0.2));
  overflow: hidden;
}

.portfolio-image {
  width: 100%;
  height: 412px;
  border-radius: 9px;
}

.contact {
  margin-bottom: 140px;
}

.contact-option-image img {
  height: 40px;
  width: 40px;
}

.contact-option {
  text-align: center;
}
.contact-options {
  margin-bottom: 30px;
}

.contact-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-top: 10px;
}

.contact-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

input {
  height: 42px;
  margin-bottom: 30px;
}

textarea {
  margin-bottom: 30px;
}

input:focus {
  outline: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1500px;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-toggler-icon {
    background: none !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar-toggler-icon::after,
  .navbar-toggler-icon::before {
    content: "";
    display: block;
    background-color: var(--primary-color);
    height: 4px;
    width: 100%;
    margin: 5px;
  }
}

@media (max-width: 767px) {
  .img-box {
    margin-top: 250px;
  }

  .hero-left {
    text-align: center;
  }

  .hero-btn {
    width: 100%;
  }

  .bg {
    width: 300px;
    height: 300px;
    top: -163px;
  }

  .about {
    padding-top: 300px;
  }

  .about-text-box {
    text-align: center;
    margin-top: 40px;
  }
  .resume-container {
    padding-top: 420px;
  }

  .category {
    margin: 0 11px;
  }

  .portfolio-box {
    margin-bottom: 40px;
  }
}

@media (max-width: 425px) {
  .bg {
    height: 200px;
    width: 200px;
  }

  .categories {
    flex-direction: column;
  }

  .job {
    text-align: center;
  }

  .about-image {
    margin: 0 10px;
  }

  .category {
    margin: 20px;
  }
}
